
body {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: dosis, sans-serif;
}

h2 {
  font-size: 24pt;
  font-weight: 400;
  text-transform: uppercase;
  color: #321946;
  text-align: center;
  font-family: dosis, sans-serif;
}

h3 {
  font-size: 17pt;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  font-family: dosis, sans-serif;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: #321946;
}

hr {
  margin-top: 70px;
}

section {
  padding: 0 9%;
  margin-bottom: 70px;
}

.coral {
  color: #dc5f3c!important;
}

.green {
  color: #96af5f!important;
}

.sand {
  color: #ceaa97!important;
}

.body-margin {
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
}

.mail-body {
  background-color: white;
  display: block;
}

.header {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}

.logo {
  height: 80px;
  float: left;
}

.product {
  height: 60px;
  float: right;
  padding-top: 15px;
}

.orange-box {
  height: 10px;
  width: 100%;
  background-color: #ff9200;
}
.gray-box {
  height: 10px;
  width: 100%;
  background-color: darkgray;
  margin-bottom: 100px;
}

.section-header {
  margin-bottom: 30px;
}

.chamada {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 10pt;
  color: #321946;
  line-height: 12pt;
  display: block
}

.first-phrase {
  color: #dc5f3c;
  font-weight: 600;
  display: inline;
  float: left;
  margin-right: 3px;
}

.chamada-img {
  height: 72px;
  float: left;
  margin-right: 15px;
  padding-top: 10px;
}

.nav-img{
  height: 60px;
  padding-top: 0;
}

.hot-img{
  padding-top: 5px;
}

.how-to {
  height: 20px;
  margin-top: 5px;
}

.illustration {
  width: 100%;
  margin: 20px 0;
}

.orange {
  color: #dc5f3c;
}

.highlight-box{
  background-color: #d5dfbf;
  padding: 15px;
  font-family: roboto, sans-serif;
  font-size: 10pt;
  color: #321946;
}

@media only screen and (max-width:700px) {
  .chamada{
    display:block;
  }
}

.contato-quad-formulario.first {
    margin: 25px 0 0 0;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 13px !important;
    /*color: #fff;*/
    box-sizing: border-box;
}

.contato-quad-formulario {
    width: 100%;
    height: 39px;
    border: solid 1px #333;
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 13px !important;
    /*color: #fff;*/
    box-sizing: border-box;
    background: #fff
}

.contato-quad-formulario-select {
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    background: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    width: 100%;
    height: 100%;
    line-height: 39px;
    /*border: 0;*/
    height: 39px;
    outline: 0;
    color: #372040;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

input, textarea, keygen, select, button {
    /*background-color: buttonface;*/
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}.contato-quad-formulario*/
}

keygen, select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

keygen, select {
    /*border-radius: 5px;*/
    border: solid 1px #333;
    margin: 10px 0 0 0;
}
#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  /*opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;*/
}
#progress_bar.loading {
  opacity: 1.0;
}
#progress_bar .percent {
  background-color: #FF9200;
  height: auto;
  width: 0;
}

#progress_bar2 {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  /*opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;*/
}
#progress_bar2.loading {
  opacity: 1.0;
}
#progress_bar2 .percent {
  background-color: #FF9200;
  height: auto;
  width: 0;
}
